body{
    background-color: lightgreen;
    border-style: solid;
    text-align: justify;
}
h1{
    text-decoration: underline;
    
}
div{
    text-align: center;
}
div{
    text-align: center;
}
footer{
    text-align: right:
}